/* Coolors Exported Palette - https://coolors.co/bf4e30-c6ccb2-093824-e5eafa-78fecf */

/* CSS HEX */
--rosy-copper: #bf4e30ff;
--ash-grey: #c6ccb2ff;
--evergreen: #093824ff;
--lavender: #e5eafaff;
--aquamarine: #78fecfff;

/* CSS HSL */
--rosy-copper: hsla(13, 60%, 47%, 1);
--ash-grey: hsla(74, 20%, 75%, 1);
--evergreen: hsla(154, 72%, 13%, 1);
--lavender: hsla(226, 68%, 94%, 1);
--aquamarine: hsla(159, 99%, 73%, 1);

/* SCSS HEX */
$rosy-copper: #bf4e30ff;
$ash-grey: #c6ccb2ff;
$evergreen: #093824ff;
$lavender: #e5eafaff;
$aquamarine: #78fecfff;

/* SCSS HSL */
$rosy-copper: hsla(13, 60%, 47%, 1);
$ash-grey: hsla(74, 20%, 75%, 1);
$evergreen: hsla(154, 72%, 13%, 1);
$lavender: hsla(226, 68%, 94%, 1);
$aquamarine: hsla(159, 99%, 73%, 1);

/* SCSS RGB */
$rosy-copper: rgba(191, 78, 48, 1);
$ash-grey: rgba(198, 204, 178, 1);
$evergreen: rgba(9, 56, 36, 1);
$lavender: rgba(229, 234, 250, 1);
$aquamarine: rgba(120, 254, 207, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bf4e30ff, #c6ccb2ff, #093824ff, #e5eafaff, #78fecfff);
$gradient-right: linear-gradient(90deg, #bf4e30ff, #c6ccb2ff, #093824ff, #e5eafaff, #78fecfff);
$gradient-bottom: linear-gradient(180deg, #bf4e30ff, #c6ccb2ff, #093824ff, #e5eafaff, #78fecfff);
$gradient-left: linear-gradient(270deg, #bf4e30ff, #c6ccb2ff, #093824ff, #e5eafaff, #78fecfff);
$gradient-top-right: linear-gradient(45deg, #bf4e30ff, #c6ccb2ff, #093824ff, #e5eafaff, #78fecfff);
$gradient-bottom-right: linear-gradient(135deg, #bf4e30ff, #c6ccb2ff, #093824ff, #e5eafaff, #78fecfff);
$gradient-top-left: linear-gradient(225deg, #bf4e30ff, #c6ccb2ff, #093824ff, #e5eafaff, #78fecfff);
$gradient-bottom-left: linear-gradient(315deg, #bf4e30ff, #c6ccb2ff, #093824ff, #e5eafaff, #78fecfff);
$gradient-radial: radial-gradient(#bf4e30ff, #c6ccb2ff, #093824ff, #e5eafaff, #78fecfff);